<!DOCTYPE html>
<html>

<head>
  <title>pdfweet</title>
  <link rel="stylesheet" href="static/style/style.css">
</head>

<body>
  <header>
    <img class="logo" src="static/pdfweet_logo.svg" alt="pdfweet" width="515.745" height="128" />
    <div class="user-info">
      {% block user_info %}
      {% endblock %}
    </div>
  </header>
  <article>
    <div class="pdf-form">
      {% block pdf_form%}
      {% endblock %}
    </div>
  </article>
  <footer>
    
  </footer>
  <script src="/static/scripts/twi_render.js"></script>
  <script src="/static/scripts/pdf.js"></script>
  <script src="/static/scripts/pdf_read.js"></script>
</body>

</html>