<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/reboot.min.css') }}">
  <title>pdfweet</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/accordion.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% block script%}
  {% endblock %}
</head>

<body>
  <header class="container">
    <img class="logo" src="{{ url_for('static', filename='pdfweet_logo.svg') }}" alt="pdfweet">
    <p>
      pdfweet is a tool to tweet PDF files as images.
    </p>
    <div class="user-info">
      {% block user_info %}
      {% endblock %}
    </div>

    <input id="acd-check1" class="acd-check" type="checkbox">
    <div class="acd-block">
      <label class="acd-label" for="acd-check1">Usage<span class="expand"></span></span>
      <div class="acd-content">
        <ol>
          <li>
            <p>Twitterでログイン.</p>
          </li>
          <li>
            <p>PDFを選択. (必要ならパスワードを入力)</p>
          </li>
          <li>
            <p>PDF SubmitでPDFを決定. サンプル画像が表示. </p>
          </li>
          <li>
            <p>テキストエリアにツイート内容を入力({i}は現在のツイート番号, {n}は総ツイート数が代入される)</p>
          </li>
          <li>
            <p>tweet as sensitiveにチェックをつけると, 内容や設定に関わらずにセンシティブな画像としてツイートされる. (チェックしなければセンシティブな画像にならないわけではない)</p>
          </li>
          <li>
            <p>Tweetボタンでツイートを送信. すべてのツイートが完了すると最初のツイートを表示する.</p>
          </li>
        </ol>
      </div>
    </div>

  </header>
  <article class="container">
    <div class="pdf-form">
      {% block pdf_form%}
      {% endblock %}
    </div>
  </article>
  <footer class="container">
    Developed by <a href="https://twitter.com/kairi_005">@kairi_005</a>
  </footer>
</body>

</html>