{% extends "base.html" %}
{% block user_info %}
<img class="twitter-icon" src="{{ user.profile_image_url_https.replace('_normal', '') }}" />
<div class="twitter-user">
  <span class="twitter-name">{{ user.name }}</span><br>
  <span class="twitter-id">@{{ user.screen_name }}</span>
</div>
<a href="/logout"><button class="logout btn btn-secondary btn-sm">Logout</button></a>
{% endblock %}

{% block pdf_form %}
<div class="pdf-form">

  <div class="pdf-upload">
    <p>1. Choose PDF file and push 'PDF Submit'.</p>
    <div class="form-inline">
      <div class="custom-file form-control">
        <input type="file" class="custom-file-input" id="pdfFile" accept="application/pdf">
        <label id="pdfFileLabel" class="custom-file-label form-control" for="pdfFile">PDF file...</label>
      </div>
      <input type="password" id="pdfPassword" class="password form-control" placeholder="password">
      <button type="button" id="pdfSubmit" class="btn btn-primary form-control">PDF Submit</button>
    </div>
  </div>
  <form id="tweetForm" class="tweet-form form-group">
    <p>2. Input tweet text and push 'Tweet'.</p>
    <textarea id="tweetText" class="tweet-text form-control" name="text" rows="4" cols="80">({i}/{n}) #pdfweet https://pdfweet.herokuapp.com/</textarea>
    <div><span>count:</span><span id="count"></span></div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="sensitive" name="sensitive">
      <label class="form-check-label" for="sensitive">tweet as sensitive</label>
    </div>
    <button type="button" id="postTweet" class="btn btn-tweet form-control btn-lg">Tweet</button>
  </form>

  <div id="tweetView" class="tweet-view"></div>

  <div id="pdfView" class="pdf-view clearfix"></div>
</div>
{% endblock %}

{% block script %}
<script src="/static/scripts/twi_render.js"></script>
<script src="/static/scripts/pdf.min.js"></script>
<script src="/static/scripts/twitter-text-3.0.1.min.js"></script>
<script src="/static/scripts/script.js"></script>
{% endblock %}