{% extends "base.html" %}
{% block user_info %}
<img class="twitter-icon" src="{{ user.profile_image_url_https.replace('_normal', '') }}" />
<div class="twitter-user">
  <span class="twitter-name">{{ user.name }}</span><br>
  <span class="twitter-id">@{{ user.screen_name }}</span>
</div>
<a href="/logout"><button class="logout btn btn-secondary btn-sm">logout</button></a>
{% endblock %}

{% block pdf_form %}
<div class="pdf-form">

  <div class="pdf-upload form-inline">
    <div class="custom-file form-control">
      <input type="file" class="custom-file-input" id="pdfFile" accept="application/pdf">
      <label id="pdfFileLabel" class="custom-file-label form-control" for="pdfFile">PDF file...</label>
    </div>
    <input type="password" id="pdfPassword" class="password form-control" placeholder="password">
    <button type="button" id="pdfSubmit" class="btn btn-primary form-control">PDF Submit</button>
  </div>
  <div id="tweetForm" class="tweet-form">
    <textarea id="tweetText" class="tweet-text form-control" rows="4" cols="80">({i}/{n}) #pdfweet</textarea>
    <div><span>count:</span><span id="count"></span></div>
    <button type="button" id="postTweet" class="btn btn-tweet form-control btn-lg">Tweet</button>
  </div>

  <div id="tweetView" class="tweet-view"></div>

  <div id="pdfView" class="pdf-view clearfix"></div>
</div>
{% endblock %}

{% block script %}
<script src="/static/scripts/twi_render.js"></script>
<script src="/static/scripts/pdf.min.js"></script>
<script src="/static/scripts/twitter-text-3.0.1.min.js"></script>
<script src="/static/scripts/script.js"></script>
{% endblock %}