{% extends "base.html" %}
{% block script %}
<script defer src="{{ url_for('static', filename='scripts/thirdparty/pdf.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/pdf_script.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/thirdparty/jszip.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/thirdparty/FileSaver.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/download.js') }}"></script>
{% endblock %}

{% block user_info %}
<a href="/login"><button class="logout btn btn-tweet btn-lg">Login with Twitter</button></a>
{% endblock %}
{% block pdf_form %}
<div class="pdf-form">

  <div class="pdf-upload">
    <p>1. Choose PDF file and push 'PDF Submit'.</p>
    <div class="form-inline">
      <div class="custom-file form-control">
        <input type="file" class="custom-file-input" id="pdfFile" accept="application/pdf">
        <label id="pdfFileLabel" class="custom-file-label form-control" for="pdfFile">PDF file...</label>
      </div>
      <input type="password" id="pdfPassword" class="password form-control" placeholder="password">
      <button type="button" id="pdfSubmit" class="btn btn-primary form-control">PDF Submit</button>
    </div>
  </div>
  <form id="tweetForm" class="tweet-form form-group">
    <p>2. Input tweet text and push 'Tweet'.</p>
    <textarea id="tweetText" class="tweet-text form-control" name="text" rows="1"
      cols="80" disabled></textarea>
    <button type="button" id="postTweet" class="btn btn-tweet form-control btn-lg" disabled>Tweet</button>
  </form>

  <button type="button" id="dlBtn" class="btn btn-secondary" disabled>Download Images</button>

  <p id="msgblock" class="msgblock"></p>

  <div id="tweetView" class="tweet-view"></div>

  <div id="pdfView" class="pdf-view clearfix"></div>
</div>
{% endblock %}
