.acd-check {
  display: none;
}

.acd-block {
  display: block;
  margin-bottom: 1px;
  margin-top: 1rem;
}

.acd-label {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.acd-content {
  display: none;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: normal;
}

.acd-check:checked+.acd-block{
  height: auto;
}

.acd-check:checked+.acd-block .acd-content {
  display: block;
}

.expand {
  display: inline-block;
  box-sizing: border-box;
  width: .8rem;
  height: .8rem;
  border-bottom: .3rem solid #212121;
  border-right: .3rem solid #212121;
  transform: translate(.5rem, -.2rem) rotate(45deg);
  transition: .2s;
}

.acd-check:checked+.acd-block .expand {
  transform: translate(.5rem, .2rem) rotate(-135deg);
}